In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, cross_validation, svm

D:\Internet\Installations\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
from glob import iglob
path = "CSVs/*.csv"

df = pd.concat((pd.read_csv(f) for f in iglob(path, recursive=True)), ignore_index=True)

In [3]:
df.head(5)

,qb,att,cmp,yds,ypa,td,int,lg,sack,loss,rate,game_points,home_away,year
0,Brett FavreB. Favre,27,15,171,6.3,1,1,33,1,9,71.7,9,away,2010
1,Drew BreesD. Brees,36,27,237,6.6,1,0,29t,1,8,101.3,14,home,2010
2,Chad HenneC. Henne,34,21,182,5.4,0,0,21,3,18,75.9,15,away,2010
3,Trent EdwardsT. Edwards,34,18,139,4.1,1,0,31t,3,23,73.0,10,home,2010
4,Matt RyanM. Ryan,44,27,252,5.7,0,1,23,2,15,67.6,9,away,2010

In [4]:
df.tail(5)

,qb,att,cmp,yds,ypa,td,int,lg,sack,loss,rate,game_points,home_away,year
4245,Alex SmithA. Smith,28,21,264,9.4,2,1,42,1,2,112.8,37,away,2016
4246,Philip RiversP. Rivers,38,22,269,7.1,2,2,23,0,0,75.4,27,home,2016
4247,Russell WilsonR. Wilson,32,19,258,8.1,1,0,42,1,6,95.6,25,away,2016
4248,Trevone BoykinT. Boykin,6,4,42,7.0,0,0,19,1,5,86.8,25,away,2016
4249,Colin KaepernickC. Kaepernick,22,17,215,9.8,1,0,29,5,24,122.3,23,home,2016

In [5]:
df.drop(['qb'], 1, inplace=True)
df.drop(['lg'], 1, inplace=True)

df.head(10)

   att  cmp  yds  ypa  td  int  sack  loss   rate  game_points home_away  year
0   27   15  171  6.3   1    1     1     9   71.7            9      away  2010
1   36   27  237  6.6   1    0     1     8  101.3           14      home  2010
2   34   21  182  5.4   0    0     3    18   75.9           15      away  2010
3   34   18  139  4.1   1    0     3    23   73.0           10      home  2010
4   44   27  252  5.7   0    1     2    15   67.6            9      away  2010
5   26   18  236  9.1   0    1     3    25   81.6           15      home  2010
6   33   21  295  8.9   1    1     3    21   89.8           17      away  2010
7   21   16  170  8.1   3    0     1     5  138.9           24      home  2010
8   57   40  433  7.6   3    0     2    14  109.8           24      away  2010
9   17    9  107  6.3   1    1     2     9   67.5           34      home  2010

In [6]:
df = df[df["att"] >= 10]
df = df[df["rate"] >= 10]
df.tail(10)

,att,cmp,yds,ypa,td,int,sack,loss,rate,game_points,home_away,year
4235,37,24,277,7.5,3,1,4,34,103.1,27,home,2016
4236,38,20,255,6.7,3,1,1,3,89.3,44,away,2016
4238,20,13,120,6.0,0,0,7,72,81.2,6,home,2016
4242,21,14,150,7.1,1,1,2,7,83.4,6,away,2016
4243,11,6,21,1.9,0,0,0,0,60.0,6,away,2016
4244,27,17,206,7.6,2,1,0,0,95.6,24,home,2016
4245,28,21,264,9.4,2,1,1,2,112.8,37,away,2016
4246,38,22,269,7.1,2,2,0,0,75.4,27,home,2016
4247,32,19,258,8.1,1,0,1,6,95.6,25,away,2016
4249,22,17,215,9.8,1,0,5,24,122.3,23,home,2016

In [7]:
dictMane = {'away': int(0), 'home': int(1)}

df['home_away'] = df['home_away'].map(dictMane)

In [8]:
df.head(10)

,att,cmp,yds,ypa,td,int,sack,loss,rate,game_points,home_away,year
0,27,15,171,6.3,1,1,1,9,71.7,9,0,2010
1,36,27,237,6.6,1,0,1,8,101.3,14,1,2010
2,34,21,182,5.4,0,0,3,18,75.9,15,0,2010
3,34,18,139,4.1,1,0,3,23,73.0,10,1,2010
4,44,27,252,5.7,0,1,2,15,67.6,9,0,2010
5,26,18,236,9.1,0,1,3,25,81.6,15,1,2010
6,33,21,295,8.9,1,1,3,21,89.8,17,0,2010
7,21,16,170,8.1,3,0,1,5,138.9,24,1,2010
8,57,40,433,7.6,3,0,2,14,109.8,24,0,2010
9,17,9,107,6.3,1,1,2,9,67.5,34,1,2010

In [9]:
def normalizeArr(arr):
    normMin = 10.1
    normMax = 158.3
    diff = normMax - normMin
    for index,num in enumerate(arr):
        arr[index] = (num - normMin)/(diff)
    return arr

In [10]:
def normalizeInput(num):
    normMin = 10.1
    normMax = 158.3
    diff = normMax - normMin
    retNum = (num - normMin)/(diff)
    return retNum

In [11]:
df["rate"] = normalizeArr(np.array(df["rate"]))

In [12]:
df.head(5)

,att,cmp,yds,ypa,td,int,sack,loss,rate,game_points,home_away,year
0,27,15,171,6.3,1,1,1,9,0.415655,9,0,2010
1,36,27,237,6.6,1,0,1,8,0.615385,14,1,2010
2,34,21,182,5.4,0,0,3,18,0.443995,15,0,2010
3,34,18,139,4.1,1,0,3,23,0.424426,10,1,2010
4,44,27,252,5.7,0,1,2,15,0.387989,9,0,2010

In [13]:
df = df[df["game_points"] >= 3]
df = df[df["game_points"] <= 60]

In [14]:
def normalizeGamePoints(num):
    normMin = 3
    normMax = 60
    diff = normMax - normMin
    retNum = (num - normMin)/(diff)
    return retNum

In [15]:
df["game_points"] = normalizeGamePoints(np.array(df["game_points"]))

In [16]:
df.head(10)

,att,cmp,yds,ypa,td,int,sack,loss,rate,game_points,home_away,year
0,27,15,171,6.3,1,1,1,9,0.415655,0.105263,0,2010
1,36,27,237,6.6,1,0,1,8,0.615385,0.192982,1,2010
2,34,21,182,5.4,0,0,3,18,0.443995,0.210526,0,2010
3,34,18,139,4.1,1,0,3,23,0.424426,0.122807,1,2010
4,44,27,252,5.7,0,1,2,15,0.387989,0.105263,0,2010
5,26,18,236,9.1,0,1,3,25,0.482456,0.210526,1,2010
6,33,21,295,8.9,1,1,3,21,0.537787,0.245614,0,2010
7,21,16,170,8.1,3,0,1,5,0.869096,0.368421,1,2010
8,57,40,433,7.6,3,0,2,14,0.672740,0.368421,0,2010
9,17,9,107,6.3,1,1,2,9,0.387314,0.543860,1,2010

In [17]:
df.tail(10)

,att,cmp,yds,ypa,td,int,sack,loss,rate,game_points,home_away,year
4235,37,24,277,7.5,3,1,4,34,0.627530,0.421053,1,2016
4236,38,20,255,6.7,3,1,1,3,0.534413,0.719298,0,2016
4238,20,13,120,6.0,0,0,7,72,0.479757,0.052632,1,2016
4242,21,14,150,7.1,1,1,2,7,0.494602,0.052632,0,2016
4243,11,6,21,1.9,0,0,0,0,0.336707,0.052632,0,2016
4244,27,17,206,7.6,2,1,0,0,0.576923,0.368421,1,2016
4245,28,21,264,9.4,2,1,1,2,0.692982,0.596491,0,2016
4246,38,22,269,7.1,2,2,0,0,0.440621,0.421053,1,2016
4247,32,19,258,8.1,1,0,1,6,0.576923,0.385965,0,2016
4249,22,17,215,9.8,1,0,5,24,0.757085,0.350877,1,2016

In [18]:
# Only using QB rating because all of the other factors such as attempts, completions, total yards, yards per attempt, 
# touchdowns, interceptions, etc. are taken into account to get the final QB passer rating.
paramOne = np.array(df['rate'])
paramTwo = np.array(df['game_points'])
X = np.stack((paramOne, paramTwo), axis = 1)
y = np.array(df['home_away'])

In [19]:
X

array([[0.41565452, 0.10526316],
       [0.61538462, 0.19298246],
       [0.4439946 , 0.21052632],
       ...,
       [0.44062078, 0.42105263],
       [0.57692308, 0.38596491],
       [0.75708502, 0.35087719]])

In [20]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

In [21]:
# real_x_train = X_train.reshape(-1, 1)
# real_x_test = X_test.reshape(-1, 1)

In [22]:
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [23]:
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.5095890410958904

Accuracy is 50.95% so it doesn't look like there is a direct correlation between QB passer rating of the game, and the final points VS if the game was played in the home field or away. Probability is basically like flipping a coin!

In [24]:
def prettyPrintNumpyArr(numpyArr):
    if(numpyArr[0] == 0):
        print("Away")
    else:
        print("Home")

QB Passer rating:
    <p>
    min = 10.1<br>
    max = 158.3 
    </p>
    <br>
Game Points:
    <p>
    min = 3 <br>
    max = 60
    </p>

In [31]:
# prediction1 = clf.predict(150.2)
prettyPrintNumpyArr(clf.predict([[normalizeInput(150.2), normalizeGamePoints(20)]]))

Away

In [32]:
prettyPrintNumpyArr(clf.predict([[normalizeInput(20), normalizeGamePoints(30)]]))

Home

In [33]:
prettyPrintNumpyArr(clf.predict([[normalizeInput(40.6), normalizeGamePoints(10)]]))

Away

In [34]:
prettyPrintNumpyArr(clf.predict([[normalizeInput(100.7), normalizeGamePoints(23)]]))

Away

In [35]:
prettyPrintNumpyArr(clf.predict([[normalizeInput(89.22), normalizeGamePoints(20)]]))

Away

In [36]:
prettyPrintNumpyArr(clf.predict([[normalizeInput(87.22), normalizeGamePoints(30)]]))

Home